.aboutMain {
    width: 75%;
    margin: auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    text-transform: none;
}

p {
    margin-top: 16px;
    font-size: 14px;
}

.intro {
    margin-bottom: 16px;
    font-size: 18px;
}

footer > ul {
    list-style: none;
}

footer > ul > li {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (min-width: 750px) {
    .aboutMain {
        width: 70%;
    }
    footer > ul > li {
        padding-left: 70px;
        padding-right: 70px;    }
}

@media screen and (min-width: 1000px) {
    .aboutMain {
        width: 65%;
    }
}