/* set up to add additional projects */

.projectMain {
    margin-top: 32px;
}

.projectMain > section > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.projectMain > section > .stockPic {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.projectMain > section > .description {
    width: 90%;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 48px;
}

p {
    margin-top: 16px;
    font-size: 14px;
    text-transform: none;
}

.projectMain > section > .description > .projectLinks {
    width: 50%;
    margin: auto;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.projectMain > section > .description > .projectLinks > a {
    color: #066474;
    text-decoration: none;
}

@media screen and (min-width: 750px) {
    .projectMain > section > img {
        width: 75%;
        height: 400px;
        margin: auto;
        display: block;
    }

    .projectMain > section > .stockPic {
        width: 75%;
        height: 550px;
        margin: auto;
        display: block;
    }
    
    .projectMain > section > .description {
        width: 70%;
    }

    .projectMain > section > .description > .projectLinks {
        width: 45%;
    }
}

@media screen and (min-width: 1000px) {
    .projectMain > section > img {
        width: 70%;
        height: 450px;
    }

    .projectMain > section > .stockPic {
        width: 70%;
        height: 600px;
    }
    
    .projectMain > section > .description {
        width: 65%;
    }
    .projectMain > section > .description > .projectLinks {
        width: 40%;
    }
}